LIST :

In [2]:
fruits = ['apple', 'banana', 'cherry', 'guava']

print(fruits[0])
print(fruits[-1])

fruits.append('blueberry')
print(fruits)

fruits.remove('banana')
print(fruits)

print(fruits[1:3])

for fruit in fruits:
    print(fruit)

print(len(fruits)) 
print(sorted(fruits))

apple
guava
['apple', 'banana', 'cherry', 'guava', 'blueberry']
['apple', 'cherry', 'guava', 'blueberry']
['cherry', 'guava']
apple
cherry
guava
blueberry
4
['apple', 'blueberry', 'cherry', 'guava']

DICTIONARY :

In [3]:
student = {
    'name': 'Ajay',
    'age': 19,
    'courses': ['Math', 'Computer']
}

print(student['name'])
print(student.get('age'))

student['phone'] = '9838474930'
print(student)

del student['age']
print(student)

for key, value in student.items():
    print(key, value)
    
print(len(student))  
print(student.keys())  
print(student.values())

Ajay
19
{'name': 'Ajay', 'age': 19, 'courses': ['Math', 'Computer'], 'phone': '9838474930'}
{'name': 'Ajay', 'courses': ['Math', 'Computer'], 'phone': '9838474930'}
name Ajay
courses ['Math', 'Computer']
phone 9838474930
3
dict_keys(['name', 'courses', 'phone'])
dict_values(['Ajay', ['Math', 'Computer'], '9838474930'])

TUPLE :

In [4]:
my_tuple = ('apple', 'banana', 'cherry')

print(my_tuple[0])
print(my_tuple[-1])

for item in my_tuple:
    print(item)


print(len(my_tuple))  
print(my_tuple.count('apple')) 
print(my_tuple.index('banana'))

apple
cherry
apple
banana
cherry
3
1
1

SET :

In [5]:
my_set = {'apple', 'banana', 'cherry'}

my_set.add('date')
print(my_set)

my_set.remove('banana')
print(my_set)

print('apple' in my_set)

for item in my_set:
    print(item)

print(len(my_set))  
print(sorted(my_set)) 
print(my_set.union({'blueberry', 'watermelon'}))  
print(my_set.intersection({'cherry', 'date'}))

{'date', 'banana', 'apple', 'cherry'}
{'date', 'apple', 'cherry'}
True
date
apple
cherry
3
['apple', 'cherry', 'date']
{'date', 'cherry', 'blueberry', 'apple', 'watermelon'}
{'date', 'cherry'}